<!DOCTYPE html>
<html lang="en">
<head>
  <title>CRM Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="static/img/favicon.png" type="image/x-icon">



</head>
<body>

{% macro render_field(field) %}

   <div class="form-group">
      <label for="{{ field.id }}">{{ field.label.text }}</label>
      {% if field.type == 'SelectField' %}
      <select name="{{ field.name }}" class="form-control" id="{{ field.id }}" placeholder="{{ field.label.text }}">
        {% for choice_id, choice_value in field.choices %}
        <option value="{{ choice_id }}">{{ choice_value }}</option>
        {% endfor %}
      </select>
      {% else %}
        <input name="{{ field.name }}" class="form-control" id="{{ field.id }}" placeholder="{{ field.label.text }}">
      {% endif %}
    </div>

  <!-- <div class="field">
    {{ field() }}
  </div> -->
    {% if field.errors %}
      <ul>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
{% endmacro %}

<nav class="navbar navbar-default">
  <div class="container-fluid">    

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a target="_blank" href="https://github.com/ruavia3/crm_project">GitHub Page</a></li>
            <li><a target="_blank" href="https://learn.python.ru/">Learn Python</a></li>

          </ul>
        </li>
      </ul>
      {% if user.is_anonymous %}

      <form id="signin" class="navbar-form navbar-right" role="form"
            action="{{ url_for('index') }}" method="POST">

            {{ render_field(login_form.email) }}
            {{ render_field(login_form.password) }}
            {{ login_form.csrf_token }}
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
                            <!--<input id="email" type="email" class="form-control" name="email" value="" placeholder="email">                                        -->
                        <!--</div>-->

                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
                            <!--<input id="password" type="password" class="form-control" name="password" value="" placeholder="password">                                        -->
                        <!--</div>-->
            <!--<input type="hidden" name="next" value="/">-->

            <button type="submit" class="btn btn-primary">Login</button>
      </form>
      {% else %}
      <form action="{{ url_for('logout') }}" method="post" class="nav navbar-right" style="margin-left: 10px; margin-top: 10px">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>        
      <ul class="nav navbar-right" style="margin-top: 15px">
          <!-- <div class ="navbar-right"> -->
        <span>Welcome {{ user.email }}  </span>
      </ul>  

      {% endif %}

    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Welcome to CRM Project</h1>
  <p>Keep in touch with your clients!</p> 
</div>

{% if user.is_anonymous %}
<center><img src="http://uproxx.files.wordpress.com/2016/09/mr-burns-feat-uproxx.jpg?quality=100&w=650" align="middle"></center>
{% else %}
  {% include "settings.html" ignore missing %}
{% endif %}


</body>
</html>