<!DOCTYPE html>
<html lang="en">
<head>
  <title>CRM Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="static/img/favicon.png" type="image/x-icon">

</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to CRM Project</h1>
  <p>Keep in touch with your clients!</p> 
</div>
  
<div class="container">
  <div class="row">
    
    <div class="col-sm-4">

      <h3><span class="glyphicon glyphicon-user"></span> Users</h3>
      <p></p>
      <p><a href="users">Click here</a> to see all users in the CRM Project.</p>
      
      <div class="form-group">
        <label for="exampleInputTelegramID">Telegram ID</label>
        <input type="TelegramID" class="form-control" id="exampleInputTelegramID" placeholder="Telegram ID">
      </div>

      <div class="form-group">
        <label for="exampleInputName">User Name</label>
        <input type="UserName" class="form-control" id="exampleInputUserName" placeholder="User Name">
      </div>

     <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>

     <div class="form-group">
        <label for="exampleInputUserID">Phone</label>
        <input type="UserPhone" class="form-control" id="exampleInputUserPhone" placeholder="Phone number">
      </div>


      <button type="button" class="btn btn-primary">Submit</button>

    </div>
      



    <div class="col-sm-4">
    
      <h3><span class="glyphicon glyphicon-user"></span> Clients</h3>
      <p></p>
      <p><a href="clients">Click here</a> to see all clients in the CRM Project.</p>
      
      <div class="form-group">
        <label for="exampleInputINN">INN</label>
        <input type="INN" class="form-control" id="exampleInputINN" placeholder="INN">
      </div>

      <div class="form-group">
        <label for="exampleInputName">Client Name</label>
        <input type="Client Name" class="form-control" id="exampleInputClientName" placeholder="Client Name">
      </div>

     <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>

     <div class="form-group">
        <label for="exampleInputUserID">Phone</label>
        <input type="ClientPhone" class="form-control" id="exampleInputClientPhone" placeholder="Phone number">
      </div>

      <button type="button" class="btn btn-primary">Submit</button>
    
    </div>

    <div class="col-sm-4">
      <h3><span class="glyphicon glyphicon-file"></span> Agreements</h3>
      <p></p>        
      <p><a href="agreements">Click here</a> to see all agreements.</p>
      
      <div class="form-group">
        <label for="exampleInputClient1">Client 1</label>
        <input type="Client1Name" class="form-control" id="exampleInputClient1Name" placeholder="Client Name">
      </div>

      <div class="form-group">
        <label for="exampleInputClient1">Client 2</label>
        <input type="Client2Name" class="form-control" id="exampleInputClient2Name" placeholder="Client Name">
      </div>

     <div class="form-group">
        <label for="exampleInputEmail1">Agreement</label>
        <input type="Agreement" class="form-control" id="exampleInputAgreement" placeholder="Agreement Status">
      </div>

     <div class="form-group">
        <label for="exampleInputTradeVol">Trade Volume</label>
        <input type="TradeVol" class="form-control" id="exampleInputTradeVol" placeholder="Volume in mln">
      </div>

      <button type="button" class="btn btn-primary">Submit</button>
    
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>


</body>
</html>