<div class="container">
  <div class="row">
    
    <div class="col-sm-4">

      <h3><span class="glyphicon glyphicon-user"></span> Users</h3>
      <p></p>
      <p><a href="users">Click here</a> to see all users in the CRM Project.</p>
      
      <div class="form-group">
        <label for="exampleInputTelegramID">Telegram ID</label>
        <input type="TelegramID" class="form-control" id="exampleInputTelegramID" placeholder="Telegram ID">
      </div>

      <div class="form-group">
        <label for="exampleInputName">User Name</label>
        <input type="UserName" class="form-control" id="exampleInputUserName" placeholder="User Name">
      </div>

     <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>

     <div class="form-group">
        <label for="exampleInputUserID">Phone</label>
        <input type="UserPhone" class="form-control" id="exampleInputUserPhone" placeholder="Phone number">
      </div>


      <button type="button" class="btn btn-primary">Submit</button>

    </div>
      



    <div class="col-sm-4">
    
      <h3><span class="glyphicon glyphicon-user"></span> Clients</h3>
      <p></p>
      <p><a href="clients">Click here</a> to see all clients in the CRM Project.</p>
      
      <div class="form-group">
        <label for="exampleInputINN">INN</label>
        <input type="INN" class="form-control" id="exampleInputINN" placeholder="INN">
      </div>

      <div class="form-group">
        <label for="exampleInputName">Client Name</label>
        <input type="Client Name" class="form-control" id="exampleInputClientName" placeholder="Client Name">
      </div>

     <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>

     <div class="form-group">
        <label for="exampleInputUserID">Phone</label>
        <input type="ClientPhone" class="form-control" id="exampleInputClientPhone" placeholder="Phone number">
      </div>

      <button type="button" class="btn btn-primary">Submit</button>
    
    </div>

    <div class="col-sm-4">
      <h3><span class="glyphicon glyphicon-file"></span> Agreements</h3>
      <p></p>        
      <p><a href="agreements">Click here</a> to see all agreements.</p>
      
      <div class="form-group">
        <label for="exampleInputClient1">Client 1</label>
        <input type="Client1Name" class="form-control" id="exampleInputClient1Name" placeholder="Client Name">
      </div>

      <div class="form-group">
        <label for="exampleInputClient1">Client 2</label>
        <input type="Client2Name" class="form-control" id="exampleInputClient2Name" placeholder="Client Name">
      </div>

     <div class="form-group">
        <label for="exampleInputEmail1">Agreement</label>
        <input type="Agreement" class="form-control" id="exampleInputAgreement" placeholder="Agreement Status">
      </div>

     <div class="form-group">
        <label for="exampleInputTradeVol">Trade Volume</label>
        <input type="TradeVol" class="form-control" id="exampleInputTradeVol" placeholder="Volume in mln">
      </div>

      <button type="button" class="btn btn-primary">Submit</button>
    
    </div>
  </div>
</div>